extends layout

block content
    if(user.role === 'administrator' || user.role === 'editor')
        .col-xs-12
            div(align='right')
                a.btn.btn-lg.btn-success(href='/movies/add', role='button') Add New Movie
    if (alertMessage.length > 0)
        .col-xs-12
            .alert.alert-success.alert-dismissable.fade.in
                | #{alertMessage}
                a.close(href="#", data-dismiss="alert", aria-label="close") &times;
    .col-xs-12
        .row
            each movieData in moviesData
                .col-md-2.col-sm-3.col-xs-6
                    .thumbnail.no-margin-bottom
                        if movieData.posterImage
                            a.thumbnail(href='/movies/#{movieData._id}')
                                img.img-responsive(src='#{movieData.posterImage}')
                        .caption
                            h3#thumbnail-label
                                a(href='/movies/#{movieData._id}')
                                    | #{movieData.title}
                                a.anchorjs-link(href='#thumbnail-label')
                                    span.anchorjs-icon
                            p
                                | #{movieData.year}
                            if(user.role === 'administrator' || user.role === 'editor')
                                p
                                    a.btn.btn-primary(href='/movies/#{movieData._id}/edit', role='button') Edit
                                    if (user.role === 'administrator')
                                        | &nbsp;
                                        a.btn.btn-warning(role='button', data-toggle='modal', data-target='##{movieData._id}') Delete
                if (user.role === 'administrator')
                    .modal.fade(id="#{movieData._id}")
                        form(action='/movies/#{movieData._id}/delete', method='post')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Cancel')
                                            span(aria-hidden='true') &times;
                                        h4.modal-title Delete Movie
                                    .modal-body
                                        p
                                            span.text-danger
                                                | #{movieData.title}
                                            span
                                                | &nbsp;will be deleted. This action cannot be undone. Are you sure you want to delete this movie?
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                                        button.btn.btn-danger(name='submit', type='submit',) Yes, Delete It!