extends layout

block content
    .side-body
        .row
            .col-xs-12
                div(align='right')
                    a.btn.btn-lg.btn-primary(href='/movies/add', role='button') Add New
            .col-xs-12
                .card
                    .card-body
                        table.datatable.table.table-striped(cellspacing='0', width='100%')
                            thead
                                tr
                                    th Title
                                    th Year
                                    th Genre
                                    th Gross Ticket Sales
                                    th Date Published
                                    th Last Update
                            tfoot
                                tr
                                    th Title
                                    th Year
                                    th Genre
                                    th Gross Ticket Sales
                                    th Date Published
                                    th Last Update
                            tbody
                                each movieData in moviesData.reverse()
                                    tr
                                        td
                                            a(href='/movies/#{movieData._id}')= movieData.title
                                        td= movieData.year
                                        td= movieData.genre
                                        td= movieData.grossTicketSales
                                        td #{moment(movieData.createdAt).format("YYYY-MM-DD")}
                                        td #{moment(movieData.updatedAt).format("YYYY-MM-DD")}