nav.navbar.navbar-default.navbar-fixed-top.navbar-top.navbar-inverse
    .container-fluid
        .navbar-header
            button.navbar-expand-toggle(type='button')
                i.fa.fa-bars.icon
            ol.breadcrumb.navbar-breadcrumb
                li= navBarTitle
            button.navbar-right-expand-toggle.pull-right.visible-xs(type='button')
                i.fa.fa-th.icon
        form(action='/logout', method='post')
            ul.nav.navbar-nav.navbar-right
                if user
                    li.dropdown.profile
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | #{user.firstName}
                            | #{user.lastName}
                            span.caret
                        ul.dropdown-menu.animated.fadeInDown
                            if user.profileImage
                                li.profile-img
                                    img.profile-img(src='#{user.profileImage}')
                            li
                                .profile-info
                                    h4.username
                                        | &#64;#{user.username}
                                    .btn-group.margin-bottom-2x(role='group')
                                        button.btn.btn-default(name='submit', type='submit')
                                            i.fa.fa-sign-out
                                            | &nbsp;Logout